.swiper {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  
  
    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  } */

  .swiper-slide img {
    display: block;
    width: 90%;
    height: 90%;
    object-fit:fill
  }
 