:root{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-top: 60px;
  
  font-family:'Chilanka',
  'cursive';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  
  all: unset;
  
}
a:hover{
  
  cursor:pointer
}
.socialMediaIcons{
  font-size: 3rem;
  margin:0.5rem;
}
.centerFlexRow{
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;

}
